*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    background: linear-gradient(15deg , white, blue);
    width: 100%;
    height: 100vh;
    z-index: 1000000;
}
.firsta{
    color: darkblue;
    padding-top: 30px 0px;
    margin: 20px;
    transition: 1s;
}
.first1{
    color: chartreuse;
}
nav.sticky{
    padding: 5px 100px;
    background: white;
}
.first2 ul{
    width: 100%;
    height: 65px;
    list-style: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    transition: 0.6s;
    position: relative;
}
.first2 li{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: fuchsia;
    position: relative;
}
.first2 ul li a{
    position: relative;
}
.first3{
    padding: 30px;
    text-align: center;
    transition: 0.6s;
    /* background-color: burlywood; */
}
.first4{
    color: blue;
    /* border-color: darkblue; */
    font-weight: bold;
    font-size: 1in;
    transition: 0.6s;
    /* text-align: center; */
}
.first5{
    margin: 80px 20px;
    /* text-align: center; */
    font-size: 20px;
    color: white;
    transition: 0.6s;
}
.first6{
    color: darkturquoise;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    background: linear-gradient(57deg , white, blue); 
    transition: 0.2s;
    /* text-align: center; */
}
.first6:hover{
    background: linear-gradient(57deg , blue, white);
}
/* .first7{
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}
.first7 li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(226, 17, 17, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
 .first7 li:nth-child(1){
    left: 86%;
    width:80px;
    height:80px;
    animation-delay: 0s;
}
.first7 li:nth-child(2){
    left: 12%;
    width:40px;
    height:40px;
    animation-delay: 1.5s;
}
.first7 li:nth-child(3){
    left: 26%;
    width:30px;
    height:30px;
    animation-delay: 2s;
    animation-duration: 10s;
}
.first7 li:nth-child(4){
    left: 62%;
    width:60px;
    height:60px;
    animation-delay: 3s;
    animation-duration: 5s;
} 
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{ 
        transform: translateY(-800px) rotate(0deg);
        opacity: 0;
    }
} */ 
.qa{
    background: linear-gradient(72deg, green , white);
    height: 100vh;
    width: 100%;
}
.second1{
    padding: 95px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    transition: 0.6s;
    position: relative;
}
.second2{
    font-size: 25px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: darkgreen;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.third{
    background-color: blueviolet;
    
}
.thirda{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    /* margin: 20px; */
    padding: 20px;

}
.third1{
    /* background-color: blueviolet; */
    padding-top: 30px 0px 15px 0px;
    /* padding-bottom: 15px; */
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    color:white;
}
.third2 {
    width: 350px;
    height: auto;
    padding: 20px 200px 50px 200px;
    transition: 2s;
    position: relative;
    /* margin: 60px; */
  }
.four{
    background: linear-gradient(57deg,cornsilk ,gray);
    /* margin-bottom: 20px; */
}
.four1{
    width:100%;
    height: 100%;
    font-size:1in;
    text-align:center;
    font-weight: bold;
    color:white;
    padding: 20px;
    text-shadow: 3px 2px;
}
.four2{
    width: 100%;
    height: 100%;
    color:whitesmoke;
    display: flex;
    flex-direction: row; justify-content: space-around;
    align-items: center;
    text-align: justify;
}
#four3{
    margin-left: 150px;
    /* box-shadow: 1px 1px gray; */
    width: 15%;
    height: 3%;
}
.four3{
    width: 500px;
    height: auto;
    padding: 30px;
    margin: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.five{
    background: linear-gradient(53deg, blue,green);
    /* margin-bottom: 20px; */
}
.five1{
    width:100%;
    height: 100%;
    font-size:1in;
    text-align:center;
    font-weight: bold;
    color:white;
    /* padding: 20px; */
    text-shadow: 3px 2px;
}
.five2{
    width: 100%;
    height: 100%;
    color:whitesmoke;
    display: flex;
    flex-direction: row; justify-content: space-around;
    align-items: center;
    text-align: justify;
}
#five3{
    margin-left: 25px;
    /* box-shadow: 1px 1px gray; */
    /* width: 15px; */
    /* height: 3px; */
}
.five3{
    width: 500px;
    height: auto;
    padding: 30px;
    margin: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}


.six{
    background: linear-gradient(57deg,white,gray);
    /* height: 100vh;
    width: 100%; */
    /* margin-bottom: 20px; */
}
.six1{
    width:100%;
    height: 100%;
    font-size:1in;
    text-align:center;
    font-weight: bold;
    color:white;
    padding: 20px;
    text-shadow: 3px 2px;
}
.six2{
    width: 100%;
    height: 100%;
    color:whitesmoke;
    display: flex;
    flex-direction: row; justify-content: space-around;
    align-items: center;
    text-align: justify;
}
#six3{
    margin-left: 35px;
    /* box-shadow: 1px 1px gray; */
    /* max-width: 40px; */
    /* max-height: 30px; */
}
.six3{
    width: 500px;
    height: auto;
    padding: 30px;
    margin: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}